:root{
    --nav-color: hsl(0, 66%, 41%);
}

* {
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar{
    background-color: var(--nav-color);
    border-bottom: 2px solid black;
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
}

#navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

#navbar ul li a{
    width: 4rem;
    padding: 1.2rem 1.3rem;
    text-align: center;
    color: white;
    
}

#navbar ul li a:hover{
    background-color: hsl(178, 50%, 12%);
}

#welcome-section{
    background: linear-gradient(
        62deg, 
        rgb(48, 53, 55) 0%, 
        rgb(19, 21, 21) 100%);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#welcome-section p{
    color: var(--nav-color);
    font-size: 1.4rem;
    font-weight: 200;
    font-style: italic;
    margin-top: 6px;
}



a {
    text-decoration: none;
    color: hsl(0, 57%, 5%);
}