* {
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar{
    background-color: hsl(0, 65%, 40%);
    border-bottom: 2px solid black;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
}

#navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

#navbar ul li a{
    width: 4rem;
    padding: 1.2rem 1.5rem;
    text-align: center;
    color: white;
    
}

#navbar ul li a:hover{
    background-color: hsl(178, 50%, 12%);
}

#welcome-section{
    background: linear-gradient(
        0deg,
        rgb(66, 68, 72) 2% , rgba(12, 1, 36, 0.986)
    );
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: hsl(0, 57%, 5%);
}